.show {
    border-radius: 6px;
    margin: 175px auto;
    padding: 1px  0px  100px;
    box-shadow:4px 5px 8px 5px rgba(0,0,0,0.6);
    width: 450px;
    overflow: hidden;
    background-color: #f5f6fa;
    height: 325px;
}
h2,h3{
font-weight: lighter;
font-style: normal;
font-family: 'Lexend Deca', sans-serif;
}
h3{
  font-style: italic;
}
.img{
  background-image: url("Background.jpg");
}
button{
  font-family: 'Lexend Deca', sans-serif;
}
input{
  border-radius: 5px;
  box-shadow: none;
  border-width: thin;
  border-color: black;
  width: 125px;
  font-family: 'Lexend Deca', sans-serif;
  padding-left: 5px;
}
button{
  border-radius: 5px;
  box-shadow: none;
  border-width: thin;
  background-color:inherit;
  box-shadow:4px 5px 8px 5px rgba(0,0,0,0);
}
